<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <% gossips.each_with_index do |gossip, index| %>
  <p>
   <a href = 'gossips/<%= index + 1 %>/' >Potin n°<%= index + 1 %></a><br>
        écrit par <%= gossip.author %><br/>
  </p>
<% end %>
  </body>
</html>
