<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> Pas encore finalise mais ca sera possible asap </p>
    <a href="/gossips/new/">Prochainement ici</a>

    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %> a dit<br/>
        <%= gossip.content %>
      </p>
    <% end %>

  </body>
</html>