
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h2>Voici la page du potin n°<%= params["id"]%></h2>
  <p>
    <p>Son auteur: <%= gossip.author %></p>
    <p>Son contenu: <%= gossip.content %></p>
    <a href="/">Cliquez ici pour revenir a l'index</a>
    <br/>
  </p>
  </body>
</html>